<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Document
body
    h1 query:
    ul
        each val in query
            li=val

    h1 header:
    ul
        each val in headers
            li=val

    h1 cookie:
    ul
        each val in cookies
            li=val                