<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Document
body
    form(action="/form" method="POST")
        input(type="text" name="username" placeholder="username")
        input(type="text" name="password" placeholder="password")
        input(type="text" name="gender" placeholder="gender")
        input(type="checkbox" name="check")
        button(type="submit") Submit


    